$back-black: #131313
$nav-shadow: 0 0 32px rgba(0,0,0,.15)

header
  @extend .col
  +size(100%, 80px)

  .nav
    @extend .row
    &__first,
    &__second
      .nav__li
        display: inline
        &:last-child
          margin-right: 0

    // First navbar (black navbar)
    &__first
      z-index: 999999
      +position(space-between, center)
      +grid(5, 12)
      background: $back-black
      padding: 0 16px
      ul
        +font(13px, 300)
      .nav__li
        margin-right: 10px
        a
          color: color(gray)
          &:hover
            color: color(white)

    // Second navbar (Main nav)
    &__second
      box-shadow: $nav-shadow
      +grid(7, 12)
      background: #fff
      a
        color: color(gray)
        text-transform: uppercase
        font-size: 14px
        &:hover
          color: color(black)

      .logo
        @extend .col, .centrate
        +gradient
        cursor: pointer
        max-width: 0
        img
          transition: all .4s ease
          transform: translateY(-40px)


      .nav
        &__left,
        &__right
          @extend .row, .centrate
          height: 100%
          .nav__li
            height: 100%
            a
              @extend .col, .centrate
              height: 100%
              padding: 0 16px

        &__left
          justify-content: flex-start
          flex: 2

        &__right
          .nav__li
            a
              font-size: 18px
            &:last-child
              display: none
              a
                border-left: 1px solid color(lightgray)
                color: $tnw-orange



.fixed-nav
  .nav__second
    z-index: 999999
    background: #fff
    width: 100%
    position: fixed
    .logo
      position: relative
      display: flex
      max-width: 100px
      padding: 20px
      img
        transform: translateY(0)

.hidden_nav-cont
  display: none

.fixed-nav
  .hidden_nav-cont
    display: block
    background: $back-black
    position: absolute
    width: 100%
    transition: transform .1s
    z-index: -99
    .hidden_nav
      @extend .col
      li
        display: flex
        @extend .centrate
        height: 40px
        a
          @extend .col, .centrate
          +size(100%, 100%)
          cursor: pointer
          text-transform: capitalize
          &:hover
            color: color(white)
